/* Main Navigation
-------------------------*/
#navbar{
    &.js-active{
        &-modal{
            & ~ section{
                filter:brightness(.5);
                transition:300ms;
            }
        }
    }
}

.navbar-container {
    @include flex();
    flex-wrap: wrap;
    width: 100vw;
    height: $navbar-height;
    background: $color-primary;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 .0625rem 1rem rgba(0, 0, 0, .5);
    z-index: 99;
    transition:height .3s ease-out;
    &.js-active{
        &-scrolling{
            height:$navbar-height-scrolling;
            h1{
                font-size:2em;
            }
        }
    }

    @include bp(sm){
        flex-wrap:nowrap;
    }
    @include bp(lg){
        padding-left:calc((100% - 1170px) / 2);
        padding-right:calc((100% - 1170px) / 2);
    }
}

// branding
.navbar-branding-wrapper {
    @include flex(center, center);
    height: 100%;
    padding-left:1rem;
}

.navbar-branding-logo {
    // margin: auto auto auto 1rem;
    overflow: hidden;
    font-weight: 700;
    margin:0;
    transition:$trans-timing $trans-easing;

    .js-active &{
        font-size:1em;
    }
    a {
        color: $color-text-secondary;
        text-transform: uppercase;
        transition:$trans-timing $trans-easing;

        &:hover{
            color:$color-secondary;
        }
    }
}

// hamburger
.navbar-mobile-wrapper {
    @include flex(center, center);
    
    margin: auto 1rem auto auto;
    height:1.75rem;
    width:2.25rem;
    &:hover {
        cursor: pointer;
    }

    @include bp(sm){
        display:none;
    }
}

.navbar-mobile-hamburger {
    @extend %reset-button;
    background: transparent;
    display:block;
    padding:0;

    &:hover{
        cursor:pointer;
    }    
    &.js-active {
        div {
            background: transparent;
            transform: rotate(-180deg);
            transition: transform 200ms ease-out 300ms;
            &::before,
            &::after {
                transition: top 100ms ease, transform 100ms 100ms ease;
            }
            &::before {
                top: 0;
                transform: rotate(45deg);
            }
            &::after {
                top: -.25em;
                transform: rotate(-45deg);
            }
        }
    }
    div {
        display: block;
        height: .25em;
        width: 2em;
        background: $color-text-secondary;
        position: relative;
        transition: background 50ms ease 100ms;
        &::before,
        &::after {
            content: "";
            display: block;
            height: .25em;
            width: 2em;
            background: $color-text-secondary;
            position: relative;
            transform: rotate(0deg);
            transition: transform 100ms ease, top 100ms ease 100ms;
        }
        &::before {
            top: -.5em
        }
        &::after {
            top: .25em
        }
    }
}

// menu
.navbar-menu-wrapper {
    width: 100%;
    display: block;
    background: $color-primary;
    height: 0;
    transition: height 100ms ease-out;
    
    @include bp(max-sm){
        &.js-active {
            height: 20rem;
            transition: height 100ms ease-out 300ms;

            .navbar-menu-item {
                box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .25);
                height:4rem;
                transition:box-shadow 0s 400ms, height 0s 400ms;

                &:last-child {
                    box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .25), 0 4px 4px -2px rgba(0, 0, 0, .25);
                }
            }
        }
    }

    @include bp(sm){
        @include flex (flex-end,center);
        height:auto;   
    }
}

.navbar-menu {
    @extend %reset-list;

    @include bp(sm){
        @include flex (flex-end,null);
        height:100%;
    }
}

.navbar-menu-item {
    color: #fff;
    font-size: 1.25rem;
    display: block;
    height: 0;
    width: 100%;
    overflow:hidden;
    
    @include bp(sm){
        @include flex(center,center);
        width:initial;
        height:initial;
        font-size:1rem;
    }

    a {
        @include flex(center, center);
        height: 100%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .25rem;

        @include bp(sm){
            letter-spacing:initial;
            text-transform:initial;
            font-weight:700;
            padding:0 1rem;
            position:relative;
        }

        &:after{
            @include bp(sm){
                @include absolute(null,0,null,0);
                display:block;
                content:"";
                width:100%;
                height:2px;
                // background: $color-text-secondary;
                background: $color-secondary;
                transform:scaleX(0);
            }
        }

        &:hover{
            // background: lighten($color-primary,10%);
            &:after{
                @include bp(sm){
                    transform:scaleX(1);
                    transition:$trans-timing*2 $trans-easing;
                }
            }
        }
    }
}
